body {
    background-color: #232323; /* Dark background */
    color: #FFD700; /* Bright text color */
    font-family: "SUSE", sans-serif;
  }

  /* Style the buttons */
#btn-group .btn {
    background-color: transparent; /* Make background transparent */
    color: #FFD700; /* Set font color to #FFD700 */
    border-color: #FFD700; /* Set border color to #FFD700 */
    border-width: 0.1vw; /* Set border thickness */
    border-style: solid; /* Set border style */
  }
  
  /* Position the buttons in the upper right corner */
  #btn-group {
    display: flex; /* Use flexbox for horizontal centering */
    justify-content: center; /* Center the buttons within the container */
    padding: 1vw 0vw; /* Reduced padding */
  }

  #navbar    {
    position: fixed; top: 0;
    padding: 1vw 5vw;
    background-color: #2d2d2d;
  }

  #gbb  {
    width: 10vw;
  }